#!/usr/bin/make -f

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

binary-indep: install
	dh_testdir
	dh_testroot

	dh_install -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_builddeb -i

binary-arch:

binary: binary-indep binary-arch

.PHONY: configure clean build install binary-arch binary
